
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

.header{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
    text-align: center;

} 

.header a{
    display: flex;
    align-items: center;
    font-family: raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 16,44px;
    color: #464646;
}

.icono__nombre{
    width: 134px;
    height: 24;
    display: flex;
    justify-content: space-between;
    align-items: center

}

.icono__nombre img{
   width: 24px;
   
   
}

.nombre{
    font-family: raleway;
    font-weight: 700;
    font-size: 16px;
    color: #464646;
    display: flex;
    }

.foto__perfil{
 width: 98px;
 height: 98px;
 border-radius: 100%;
 margin-left: 14px;
}    

.titulo__nombre{
    font-family: raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    color: #464646;
    margin-left: 14px;
    margin-right: 14px;
}

.descripcion__nombre{
    font-family: raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.44px;
    color: #464646;
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;
}

.accesos__directos{
    display: flex;
    justify-content:space-around;
    gap: 8px;
    align-items: center;
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;

}

.accesos__directos img{
    width: 16px;
}

.sobre__mi{
    width: 360px;
    height: 350px;
    background-color: #eaf2fd;
    margin-top: 10px;
}

.sobre__mi h3{
    font-family: raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25,83px;
    padding-left: 14px;
}
.sobre__mi p{
    font-family: raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 16,44px;
    margin-top: 10px;
    padding: 14px;
}

.skills{
    background-color: #f5f5f5;
    width: 360px;
    height: 508px;
   
        
}

.skills h3{
    text-align: center;
    font-family: raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25,83px;
    color:#464646
}

.skills figure { 
    width: 156px;
    height: 118px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
     
}

/*.div__figure{
    width: 328px;
    height: 118px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    justify-content: space-around;
    gap: 16px;
    margin: 16px 16px 0 16px;
}*/
    
    
 

.img__span{
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.img__span figure img{
    width: 24px;
    height: 37px;

}

.img__span figure span{
    font-family: raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 18,78px;
    color: #464646;
}

.hobbies{
    background-color: #f5f5f5;
    width: 360px;
    height: 360px;
}

.hobbies h3{
    text-align: center;
    font-family: raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25,83px;
    color:#464646
}

.hobbies figure { 
    width: 156px;
    height: 118px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
     
}

.form__academica{
    background-color:#eaf2fd;
    width: 360px;
    height: 400px;
    padding: 32px;
    gap: 32px;
}

.form__academica h3{
    font-family: raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    text-align: center;

}

.grupo__formaciones{
    width: 296px;
    height: 339px;
    gap: 16px;
}

.curso{
    width: 296px;
    height: 169px;
}

.caja__logo__curso{
    background-color: #ffffff;
    width: 296px;
    height: 118px;
    padding: 16px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curso__logo {
    width: 70px;
    height: 48px;
}

.caja__texto__curso{
    width: 296px;
    height: 51px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

.caja__texto__curso h3{
    font-family: raleway;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
}    

.caja__texto__curso p{
    font-family: raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 16,44px;
}

.exp__profesional{
    width: 360px;
    height: 600px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grupo__profesional{
    width: 296px;
    height: 260px;
}

.proyecto{
    width: 296px;
    height: 269px;
}

.contenedor__imagen__encriptador{
    display: flex;
    justify-content: center;
}
.encriptador{
    width: 296px;
    height: 144px;
}

.caja__texto__proyecto{
    width: 296px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contenedor__botones{
    width: 296px;
    height: 40px;
    gap: 16px;
}

.boton__repo{
    width: 108px;
    height: 40px;
    border: 1px solid #2a7ae4;
    font-family: raleway;
    font-weight: 600;
    font-size: 14px;
    color: #2a7ae4;
}

.boton__demo{
    width: 96px;
    height: 40px;
    background-color: #2a7ae4;
    border: 1px solid #2a7ae4;
    font-family: raleway;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

.contenedor__contacto{
    background-color: #eaf2fd;
    width: 360px;
    height: 611px;
}

.contacto__quieres__contact{
    background-color:#eaf2fd;
    width: 296px;
    height: 611px;
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.contacto__quieres__contact h3{
    font-family: raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25,83px;
    color: #464646;
}

.contacto__quieres__contact p{
    font-family: raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 18,78px;
    color: #464646;
}

.contenedor__formulario{
    width: 296px;
    height: 397px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input__nombre{
    width: 296px;
    height: 56px;
    border: #eaf2fd 2px solid;
}

.input__nombre ::placeholder{
    font-family: raleway;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #a2a2a2;
    top: 0px;
    left: 0px;
} 

.input__mensaje{
    width: 296px;
    height: 133px;
    border: #eaf2fd 2px solid;
}

.boton__enviar{
    width: 133px;
    height: 40px;
    background-color:#2a7ae4;
    border: #eaf2fd;

}

.boton__enviar p{
    font-family: raleway;
    font-weight: 600;
    font-size: 14px;
    line-height: 16,44px;
    color: #ffffff;
}

.desarrollado{
    width: 360px;
    height: 102px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.desarrollado p{
    font-family: raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 18,78px;
    color: #464646;
}

@media (min-width: 768px){
/* header */

.header{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content:space-between;
    margin-left: 24px;
    margin-right: 24px;
    
    
    

} 
.icono__nombre{
    width: 134px;
    height: 24;
    display: flex;
    
    

}

/* main */

.contenedor__perfil{
    width: 768px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.foto__perfil{
    width: 146px;
    height: 146px;
    border-radius: 100%;
    order: 2;
    
   }  

.contenedor__nombre__descripcion{
    width: 524px;
    height: 130px;
}

.sobre__mi{
    width: 768px;
    height: 286px;
    background-color: #eaf2fd;
    margin-top: 10px;
}

.skills{
    background-color: #f5f5f5;
    width: 768px;
    height: 390px;
        
}

.img__span{
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.skills figure { 
    width: 224px;
    height: 118px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
     
}

.form__academica{
    background-color:#eaf2fd;
    width: 768px;
    height: 291px;
    padding: 32px;
    gap: 32px;
}

.titulo__form__academica{
    font-family: raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    text-align: center;
    margin-bottom: 10px;

}

.grupo__formaciones{
    width: 704px;
    height: 169px;
    display: flex;
    justify-content: center;
    
    gap:30px

}

.curso{
    width: 224px;
    height: 169px;
}

.caja__logo__curso{
    width: 224px;
    height: 118px;
}

.exp__profesional{
    width: 768px;
    height: 880px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.proyecto{
    width: 704px;
    height: 438px;
}

.grupo__profesional{
    width: 704px;
    height: 427px;
}

.contenedor__imagen__encriptador{
    width: 704px;
    height: 320px;
}

.encriptador{
    width: 704px;
    height: 320px;
}

.contenedor__contacto{
    width: 768px;
    height: 637px;
    
}

.contacto__quieres__contact{
    width: 656px;
    height: 38px;
}

.contenedor__formulario{
    width: 704px;
    height: 397px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input__nombre{
    width: 704px;
    height: 56px;
    border: #eaf2fd 2px solid;
}

.input__mensaje{
    width: 704px;
    height: 133px;
    border: #eaf2fd 2px solid;
}

.boton__enviar{
    width: 133px;
    height: 40px;
    background-color:#2a7ae4;
    border: #eaf2fd;

}

.desarrollado{
    width: 768px;
    height: 102px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

}