
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
    text-align: center;

} 

.header a{
    display: flex;
    align-items: center;
}

.icono__nombre{
    width: 134px;
    height: 24;
    display: flex;
    justify-content: space-between;
    align-items: center

}

.icono__nombre img{
   width: 24px;
   
   
}

.nombre{
    font-family: raleway;
    font-weight: 700;
    font-size: 16px;
    color: #464646;
    display: flex;
    }

.foto__perfil{
 width: 98px;
 height: 98px;
 border-radius: 100%;
}    

.titulo__nombre{
    font-family: raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
    color: #464646;
}

.descripcion__nombre{
    font-family: raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.44px;
    color: #464646;
}